@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0, 300; 0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem;
}

h1, h2 {
    color: #385373;
    font-weight: 600;
    margin: 0;
}

h2 {
    margin: 0 0 1rem 0;
}

p {
    margin: 0;
}

#header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto auto 1.5rem auto;
}

#toggle-wrap {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
    font-size: .85rem;
}

#fahr-button {
    padding: .5rem 1rem .5rem 1.25rem;
    background-color: rgb(56, 83, 115);
    color: white;
    border: solid;
    border-color: rgb(56, 83, 115);
    border-radius: 0 3rem 3rem 0;
    border-radius: 3rem 0 0 3rem;
}

#cels-button {
    padding: .5rem 1.25rem .5rem 1rem;
    background-color: white;
    border: solid;
    border-color: rgb(56, 83, 115);
    border-radius: 0 3rem 3rem 0;
}

#searchbar {
    color: #636363;
    border: solid;
    border-color: rgb(56, 83, 115, .5);
    border-width: 2px;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .5rem .5rem 1rem;
    margin: 0 0 1.5rem 0;
}

#searchbar-text {
    margin: 0;
}

#current-wrap {
    background-image: linear-gradient(#465F7D, #8BA7C7);
    padding: 1.5rem;
    color: white;
    border-radius: .75rem;
}

#current-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#current-left {
    display: flex;
    flex-direction: column;
}

#current-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#current-name {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 1.5rem 0;
}

#temp-wrap {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-name {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 .25rem 0;
}

#temp-large {
    font-weight: 300;
    font-size: 3rem;
    margin: 0 0 .25rem 0;
    padding: 0;
    line-height: 3rem;
}

#hi-lo-wrap {
    display: flex;
    flex-direction: row;
}

#temp-info {
    margin: 0 .5rem 0 0;
}

#graph {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 3rem 0 0 0;
}

.spacer {
    border: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    margin: 2rem 0 1.5rem 0;
}

.location-wrap {
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    margin: auto;
    border-radius: .75rem;
    align-items: center;
}

.location-left-wrap {
    display: flex;
    flex-direction: column;
}

.location-right-wrap {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
    align-items: center;
}

#first-location {
    margin: 0 0 1.5rem 0;
}

.sunny-wrap {
    background-image: linear-gradient(#5F94D2, #97BBE4);
}

.partly-cloudy-wrap {
    background-image: linear-gradient(#799EC9, #ABC6E5);
}

.weather-detail {
    font-size: 1rem;
}

.icons-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-pic {
    border-radius: 100%;
    width: 1.5rem;
}

.friend-1 {
    margin: 0 .25rem 0 0;
}

.icon-medium {
    margin: 0 .5rem 0 0;
}

.location-temp {
    font-size: 1.25rem;
}
